.container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.2);
  padding: 40px;
  width: 450px;
}
.container h1 {
  text-align: center;
  color: antiquewhite;
  font-size: 30px;
}

.inputs {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}
.inputs input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border-radius: 40px;
  color: aliceblue;
  font-size: 16px;
  padding: 20px 25px;
  border: solid 2px rgba(255, 255, 255, 0.2);
}

.inputs input::placeholder {
  color: antiquewhite;
}

.inputs .icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: antiquewhite;
}

.container .forget-pass {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
  color: white;
}

.forget-pass label {
  color: white;
}

.forget-pass input {
  margin-right: 5px;
}
.forget-pass a {
  color: whitesmoke;
  text-decoration: none;
  padding-left: 5px;
}
.forget-pass a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.sing {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 10px;
  color: white;
  padding-right: 5px;
}

.sing a {
  color: whitesmoke;
  text-decoration: none;
}

.sing a:hover {
  text-decoration: underline;
}
